.blackBG {
    background-color: black;
}

.whiteText {
    color: white;
}

.title {
    font-size: 3.5rem;
    font-weight:bolder;
    margin: 1% 0;
    text-shadow: 0px 0px 30px yellow,0px 0px 30px orange,0px 0px 30px darkblue,0px 0px 10px #553300,0px 0px 10px #553300;
}

.subtitle {
    font-size: 1.25rem;
    margin: 2% 0;
}

